@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  // position: relative;
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: $typo !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
